* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    letter-spacing: 1.1px;
}

hr {
    margin-top: 4px;
    opacity: 0.1;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#project-name {
    background: whitesmoke;
    padding: 50px 0 0 55px;
    position: relative;
    z-index: 2;   
}

#project-name p {
    font-size: 40px;
    text-transform: uppercase;
    color: #6D4DA0;
    display: inline;
    padding: 10px;
}

.container {
    margin: 0 auto;
    background: whitesmoke;
    width: 100%;
    height: 86%;
    box-shadow: 0px 6px 50px 0px #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    position: relative;
    z-index: 1;
    box-shadow: 0px 6px 50px 0px #00000033;
    height: 445px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.btn-wrapper {
    background: whitesmoke;
}

/* ============================DISPLAY========================= */

.display {
    background: #F8F8F8;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main,
#current {
    color: #c77f22;
    text-align: right;
    padding: 10px 12px 8px 0;
    height: 40px;
    width: 100%;
    overflow: auto;
    font-size: 16px;
}

#current {
    font-size: 18px;
}

#main {
    font-size: 16px;
}

/* ===========================BUTTONS======================== */

#toggle-history {
    border: none;
    background: whitesmoke;
    color: #613ba0;
    width: 100px;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
}

#toggle-history:hover {
    background: #ececec;
    color: black;
}

#toggle-history:active {
    background: #ececec;
    color: black;
    transform: scale(0.95);
}

.keypad {
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.btn {
    padding: 20px;
    border: none;
    background: #E8EBF2;
    font-size: 16px;
    text-align: center;
    color: black;
}

#equals {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    background: #bec6d6;
}

.btn:hover,
#equals:hover {
    color: white;
    background: #585858;
}

.btn:active,
#equals:-ms-keyboard-active {
    background: #292929;
}

/* ===========================HISTORY======================== */

#history {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 300px;
    height: 445px;
    background: #F8F8F8;
    color: white;
    padding: 0 20px;
}

#history #heading {
    height: 40px;
    width: 100%;
    color: #6D4DA0;;
}

#history h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-top: 12px;
}

#history-section {
    padding-top: 12px;
    width: 100%;
    height: 345px;
    overflow: auto;
    font-size: 16px;
    color: #b0afaf;
}

#clear-history {
    align-self: right;
    display: block;
    text-align: center;
    width: 90px;
    height: 30px;
    color: white;
    background: #6D4DA0;
    border: none;
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

#clear-history:active {
    background: #613ba0;
    transform: scale(0.95);
}


/* ===========================SCROLLBAR======================== */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff80; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffffcc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}